<div id="app" class="d-flex flex-column h-100">
  <div class="container" *ngIf="auth.isLoading$ | async; else loaded">
    <app-loading></app-loading>
  </div>

  <ng-template #loaded>
    <div [class]="theme">
      <div class="mat-app-background min-vh-100 d-flex flex-column">
        <app-header [themeToggleControl]="themeToggleControl"></app-header>
   
        <div class="container-fluid flex-fill my-3">
            <router-outlet></router-outlet>
        </div>

        <app-footer></app-footer>
      </div>
    </div>
  </ng-template>
</div>
