<mat-card class="d-flex flex-grow-1">
    <div class="container-fluid p-0">
      <div class="row">
        <div class="col">
          <mat-card-header>
            <!-- <img mat-card-avatar [src]="" /> -->
            <mat-card-title
              ><p class="mat-h1 text-left text-break">
                {{business.name}}
              </p></mat-card-title
            >
            <mat-card-subtitle>
              <p class="text-left text-break">
                {{business.description}}
              </p>
              </mat-card-subtitle>
          </mat-card-header>
          <mat-card-content class="my-0"> 
            Address: {{business.address}}
            <br>
            Schedule: {{business.schedule}}
          </mat-card-content>
        </div>
      </div>
    </div>
  </mat-card>
  